# Server
NODE_ENV=development
PORT=3000

# Auth
JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=1d

# MySQL (Prisma)
MYSQL_DATABASE_URL="mysql://root:password@localhost:3306/vehicle_rental"

# MongoDB (Mongoose logs)
MONGODB_URI="mongodb://localhost:27017"
MONGODB_DB_NAME="vehicle_rental_logs"
